code/datamodel/seed_data/zipcode_sm.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="zcodes" type="CodesType"/>


<xsd:complexType name="CodesType">
 <xsd:sequence>
  <xsd:element name="ZIP" type="ZipCodeType"  minOccurs="0" maxOccurs="unbounded"/>
 </xsd:sequence>
</xsd:complexType>


<xsd:complexType name="ZipCodeType">
 <xsd:sequence>
  <xsd:element name="ZIP_CODE"         type="xsd:decimal"/>
  <xsd:element name="CITY"             type="xsd:string"/>
  <xsd:element name="STATE"            type="xsd:string"/>
  <xsd:element name="COUNTY_NAME"      type="xsd:string"/>
 </xsd:sequence>
</xsd:complexType>

</xsd:schema>
